@import "/src/styles/colors";
.radio {
  width: 100%;

  display: flex;
  align-items: center;

  font-size: 18px;
  gap: 20px;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  & > input:checked ~ &__visible {
    background-color: map-get($colors, "accent");
    &::before {
      content: "•";
      color: white;
      opacity: 1;
      font-size: 30px;
      // line-height: 15px;
    }
  }
  input {
    display: none;
  }

  &__visible {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    aspect-ratio: 1/1;
    outline: 2px solid map-get($colors, "accent");
    position: relative;
    &::before {
      position: absolute;
      left: 53%;
      top: 38%;
      transform: translate(-50%, -50%);
      width: 90%;
      opacity: 0;
      transition: 0.2s;
      fill: white;
    }
  }
  &__label {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
