@import "/src/styles/utils";
@import "/src/styles/colors";
.pagination {
  display: flex;
  justify-content: center;
  gap: 20px;
  // width: 60%;
  padding: 20px;
  &__button {
    font-size: 18px;

    cursor: pointer;
    &:not(:is(:first-of-type, :last-of-type)) {
      flex: 0 1 45px;
      aspect-ratio: 1 / 1;
    }
    &:is(:first-of-type, :last-of-type) {
      flex: 1 0 100px;
    }
    @extend .glass;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 5px;
    box-shadow: 2px 2px 0px 0px map-get($colors, "primary");

    &:hover {
      box-shadow: 0 0 10px 3px transparentize(map-get($colors, "light"), 0.5);
      transform: scale(1.02);
    }
    &:active {
      $offset: 1px;
      transform: translate($offset, $offset);
    }
  }
}


@container(max-width: 750px) {
  .pagination {
    &__button {
      &:is(:first-of-type, :last-of-type) {
        display: none;
      }
    }
  }
}