.products {
  $padding-size: 5%;
  padding-inline: $padding-size;
  & > h2 {
    margin-block: 20px;
  }
  &__wrap {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
