.products {
  padding-inline: 5%;
  & > h2 {
    margin-block: 20px;
  }
  &__wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    align-items: flex-start;
  }
}
