@import "/src/styles/colors";
@import "/src/styles/utils";
.products {
  display: flex;
  min-height: calc(100vh - 100px);
  container-type: inline-size;
  position: relative;

  main {
    width: 100%;
    $padding-size: 5%;
    padding-inline: $padding-size;
    padding-top: calc($padding-size / 2);
    position: relative;
    container-type: inline-size;

    & > h2 {
      margin-block: 20px;
    }
    > svg {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    .products__wrap {
      width: 100%;

      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: flex-start;
      align-items: flex-start;
    }
    .suggestions__wrap {
      background-color: map-get($status, "warning");
      
      padding: 20px; 
      margin-block: 20px;
      
      @extend .glass;
    }
    .products__suggestions {
      width: fit-content;

      padding: 10px 20px;
      margin-block: 20px;
      border-radius: 5px;

      background-color: map-get($status, "danger");
      font-weight: bold;

      cursor: pointer;
    }
  }
}

@container (max-width:880px) {
  .products {
    main {
      .products__wrap {
        justify-content: center;
      }
    }
  }
}
