$colors: (
  dark: #161215,
  primary: #4d9de0,
  secondary: #c9e6fe,
  accent: #ee7b30,
  accent-light: #fbd0b3,
  light: #f3f7f0,
);

$status: (
  danger: #ee7c307e,
  warning: #fbd0b37c,
  success: #4d9ee07c,
);
