@import "/src/styles/utils";

.navbar {
    height: 100px;
    @extend .glass;
    border-radius: 0px;
    margin-bottom: 20px;
    padding-inline: 5%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}