@import "./styles/colors";
@import "./styles/headings";
body {
  margin: 0;
  background-image: url("/src/assets/bg.png");
  background-size: cover;
  background-attachment: fixed;
  img {
    max-width: 100%;
    vertical-align: middle;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
}

* {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: map-get($colors, "dark");
  box-sizing: border-box;
}
